.title {
  margin-bottom: 0.5em;

  &__text,
  &__num {
    text-transform: uppercase;
    font-style: italic;

    animation: cinematicInOut 3s ease-in-out 2s;
    animation-delay: 2s;
  }

  &__text {
    // @extend %commissioner-700;
    @include adaptiv-font(58, 32);
    line-height: 1.24;
  }

  &__num {
    padding-right: 4px;
    // @extend %commissioner-800;
    @include adaptiv-font(88, 48);
  }

  @keyframes cinematicInOut {
    0% {
      text-shadow: 0 0 1em white;
      opacity: 0;
      margin-left: -.5em;
    }

    25% {
      text-shadow: 0 0 0 white;
      opacity: 1;
      margin-left: 0;
    }

    75% {
      text-shadow: 0 0 0 white;
      opacity: 1;
      margin-left: 0;
    }

    100% {
      text-shadow: 0 0 1em white;
      opacity: 0;
      margin-left: 0;
    }
  }
}