<svg width="32" height="34" viewBox="0 0 32 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.36807 1.32444C0.98198 1.71734 0.758545 2.32906 0.758545 3.12125V31.3783C0.758545 32.1705 0.98198 32.7822 1.36807 33.1751L1.46336 33.2614L17.7512 17.4334V17.0597L1.46336 1.23181L1.36807 1.32444Z" fill="url(#paint0_linear_87_451)"/>
<path d="M23.1745 22.712L17.7513 17.4334V17.0597L23.1811 11.781L23.3027 11.8497L29.733 15.4066C31.5682 16.416 31.5682 18.0771 29.733 19.0929L23.3027 22.6434L23.1745 22.712V22.712Z" fill="url(#paint1_linear_87_451)"/>
<path d="M23.3028 22.6434L17.7513 17.2466L1.36816 33.1751C1.97769 33.798 2.97165 33.8731 4.10198 33.2502L23.3028 22.6434" fill="url(#paint2_linear_87_451)"/>
<path d="M23.3028 11.8498L4.10198 1.24299C2.97165 0.626487 1.97769 0.701552 1.36816 1.32445L17.7513 17.2466L23.3028 11.8498Z" fill="url(#paint3_linear_87_451)"/>
<defs>
<linearGradient id="paint0_linear_87_451" x1="16.3051" y1="31.6726" x2="-5.12979" y2="9.62369" gradientUnits="userSpaceOnUse">
<stop stop-color="#00A0FF"/>
<stop offset="0.0066" stop-color="#00A1FF"/>
<stop offset="0.2601" stop-color="#00BEFF"/>
<stop offset="0.5122" stop-color="#00D2FF"/>
<stop offset="0.7604" stop-color="#00DFFF"/>
<stop offset="1" stop-color="#00E3FF"/>
</linearGradient>
<linearGradient id="paint1_linear_87_451" x1="32.1227" y1="17.2447" x2="0.319902" y2="17.2447" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFE000"/>
<stop offset="0.4087" stop-color="#FFBD00"/>
<stop offset="0.7754" stop-color="#FFA500"/>
<stop offset="1" stop-color="#FF9C00"/>
</linearGradient>
<linearGradient id="paint2_linear_87_451" x1="20.2841" y1="14.3128" x2="-8.78335" y2="-15.5873" gradientUnits="userSpaceOnUse">
<stop stop-color="#FF3A44"/>
<stop offset="1" stop-color="#C31162"/>
</linearGradient>
<linearGradient id="paint3_linear_87_451" x1="-2.75582" y1="42.5761" x2="10.2241" y2="29.2245" gradientUnits="userSpaceOnUse">
<stop stop-color="#32A071"/>
<stop offset="0.0685" stop-color="#2DA771"/>
<stop offset="0.4762" stop-color="#15CF74"/>
<stop offset="0.8009" stop-color="#06E775"/>
<stop offset="1" stop-color="#00F076"/>
</linearGradient>
</defs>
</svg>
