.content__body
  h1
    |
    |
    span.gradient-text.blue-gradient.
      e-sports

  .content__amount
    span.text-shadow welcome bonus
    .content__box
      .content__currency.gradient-text.yellow-gradient 143
        |
        span eur
      .content__persent.content__persent--inverseElements.gradient-text.yellow-gradient
        span.content__sub up to
        |140
        span %
      //- span up to

  .content__bonus 
    span.content__promo.text-shadow esports
    span.content__capture
      span.text-shadow width
      span.text-shadow promocode: