footer
  .container
    .footer__inner
      include links
      .payments
        .payments__image
          img.payments__img(src="./images/payments/mastercard-c.png", alt="mastercard")
        .payments__image
          img.payments__img(src="./images/payments/visa-c.png", alt="visa")
        .payments__image
          img.payments__img(src="./images/payments/Skrill.png", alt="Skrill")
        .payments__image
          img.payments__img(src="./images/payments/bitcoin.png", alt="bitcoin")
        .payments__image
          img.payments__img(src="./images/payments/neteller.png", alt="neteller")
  include heroes