.heroes
    .heroes__wrap.heroes__wrap--archer
      //- img(class="heroes__img heroes__img--archer" src="images/esports-heroes/archer1xdesctop.png", alt="archer")
    .heroes__wrap.heroes__wrap--fbi
      //- img(class="heroes__img heroes__img--fbi" src="images/esports-heroes/fbi1xDestop.png", alt="fbi")
    .heroes__wrap.heroes__wrap--sava
      //- img(class="heroes__img heroes__img--sava" src="images/esports-heroes/sava1xDesctop.png", alt="sava")
    .heroes__shadow