block variables
  - var logoText = 'best bets for you'


.logo
  a(class="logo__link" href="https://betandyou.com")
    svg.logo__svg 
      use(xlink:href="images/sprite.svg#BU_desktop-logo")
    img(src="images/esports-logo/logo-pict.png", alt="betandyou")
