.popUp.popUp--form#popupForm
    .popUp__block
        .popUp__close
            a#closePopUp
        .popUp__content
          .popUp__name first deposit bonus
            |
            |
            span.gradient-text.yellow-gradient 110 eur
          include form
          //- a.ellipse-btn(href="#") register