.popUp.popUp--contentVisibility#popUpcontentVisibility
    .popUp__block
        .popUp__close
            a#closePopUp
        .popUp__content
          .popUp__name
            span.gradient-text.yellow-gradient Register with your phone number:
          .parent
            ol.popUp__list
              li 1. Go to our website by turning on VPN Brazil, Portugal or India  
              li 2. Manually input your country code. 
              li 3. Enter your phone number in the relevant field  
              li 4. Your country will be automatically assigned to your account after registration.  
          a.ellipse-btn(href="#" data-reg="contentRegButton") register
