.popUp.popUp--grabBonus#popupGrabBonus
    .popUp__block
        .popUp__close
            a#closePopUp
        .popUp__content
            .popUp__head
              .gradient-text.yellow-gradient congratulations!
              .popUp__subtitle Your first deposit bonus up to
                                br
                                span.gradient-text.yellow-gradient 110 EUR
                                strong is waiting for you!
              button.ellipse-btn(type='button', data-reg="contentRegButton") Grab your bonus
            .popUp__border
              .popUp__box
                .popUp__rules
                  h3 Register with your phone number:
                  ul.popUp__list
                    li Go to our website by turning on VPN Brazil, Portugal or India
                    li Manually input your country code  
                    li Enter your phone number in the relevant field  
                    li Your country will be automatically assigned to your account after registration.
                  h3 first deposit bonus 
                  
            //-       ul.popUp__list
            //-         li - Download and install TestFlight.
            //- a.ellipse-btn(href="#") register