.soc-networks
  a(href="#") 18+ 
  a(href="#")
    svg.soc-networks__svg(width="38" height="38")
      use(xlink:href="images/sprite.svg#icon-insta")
  a(href="#")
    svg.soc-networks__svg(width="18" height="37")
      use(xlink:href="images/sprite.svg#icon-fb") 
  //- a(href="#") 
  //-   svg.soc-networks__svg(width="43" height="43")
  //-     use(xlink:href="images/sprite.svg#icon-twitter")
  a(href="#") 
    svg.soc-networks__svg(width="43" height="43")
      use(xlink:href="images/sprite.svg#icon-telegram")
  a(href="#") 
    svg.soc-networks__svg(width="43" height="43")
      use(xlink:href="images/sprite.svg#icon-gmail")
